# dependencies
.env*
node_modules/
**/node_modules/
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# IDE/editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# local env files (all variants)
.env*

# turbo
**/.turbo/

# Prisma
**/prisma/migrations/
**/prisma/.env

# Prisma generated outputs
**/generated/
packages/*/generated/

# build outputs
dist/
build/
out/
.next/
.vercel/

# caches
.parcel-cache/
/.turbo/
node_modules/.cache

# local env
.env.local
.env.*.local


# ts-build
tsconfig.tsbuildinfo
